*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
    margin: 0;
}

body {
    display: block;
    margin: 8px;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#title{
    margin-top: 30px;
    text-align: center;
    color:white;
}

#description {
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color:white;
    padding-top:5px;
    padding-bottom:20px;
}

#container{
    margin:auto;
    max-width: 720px;
    background-color: #282845;
    border-radius: 5px;
}

#survey-form{
    max-width: 100%;
    margin: 0 auto
    color:white;
    padding: 50px;
}


input[type="text"],input[type="email"],input[type="number"] , select{
          width: 100%;
          height: 40px;
          margin: 10px 0px;
          border-radius: 5px;
          color: #495057;
          background-color: #fff;
          border: 1px solid #ced4da;
}
  input::placeholder{
    padding: 8px;
  }
label{
    margin-top:3px;
    margin-bottom:3px;
    font-size:17px;
    padding-top:10px;
}

input[type="radio"]{
    width: 20px;
}

textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    box-sizing: border-box;
    min-height: 120px;
    padding: 0.625rem;
    resize: vertical;
}

#submit {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: #37af65;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
    border:none;
}


 @media only screen and (max-width: 900px) {
    form{
        max-width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    form{
        max-width: 100%;
    }
} 


